.App {
  background-color: white;
}

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}
.center-chart{
  position: relative;
  width: 57% ;
  margin-left:10%;
}

/* NotFoundPage.css */

.not-found-container {
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #f2f2f2;
}

.label {
  font-size: 80px;
  color: #333;
  margin: 0;
}

.title {
  font-size: 24px;
  color: #333;
  margin: 10px 0;
}

.description {
  font-size: 16px;
  color: #666;
  margin: 10px 0;
}

.btn404 {
  display: inline-block;
  padding: 10px 20px; 
  margin-top: 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn404:hover {
  background-color: #0056b3;
}
